<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <base href="/static/">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    [% INCLUDE layout/header.link.tt %]
  </head>
  <body class="hold-transition skin-blue sidebar-mini sidebar-collapse" ng-app="addressBooks">
    <div class="wrapper">

      [% INCLUDE layout/header.tt %]

      <!-- Left side column. contains the logo and sidebar -->
      [% INCLUDE layout/sidebar.left.tt %]

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Address Books
            <small>List</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Address Books</a></li>
            <li class="active">List</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content" ng-controller="mainCtrl" >
          <h1>{{ title }}</h1>
          <!-- Tabile -->
          [% INCLUDE address/contents/list.tt %]
          <!-- Tabile -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.3.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
      </footer>

      [% INCLUDE layout/sidebar.right.tt %]

      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>

    </div><!-- ./wrapper -->

    [% INCLUDE layout/footer.tt %]

  </body>
</html>
